<div style="height: 100vh; " class="container d-flex justify-content-center align-items-center flex-column">
    <h1>Login</h1>
    <p>More than 100 plus Recipes from around the world</p>
    <div style="width: 400px;" class="shadow border rounded p-5  mt-5">
        <div class="mb-5 text-center">
            <h3><i class="fa-solid fa-graduation-cap"></i>Cookpedia</h3>
        </div>
        <div class="mb-5">
            <input type="text" placeholder="E Mail" class="form-control">
        </div>
        <div class="mb-5">
            <input type="text" placeholder="Password" class="form-control">
        </div>
        <div class="d-grid">
            <button class="btn btn-success">Login</button>
        </div>
    </div>
</div>
