<div class="container-fluid">
    <div class="row">
        <div style="height: 100vh;width: fit-content;" class="col-lg-2 bg-success text-light d-flex flex-column p-3 shadow">
            <h5 class="mb-5 text-warning border rounded p-4"><i class="fa-solid fa-graduation-cap me-1"></i>Cookpedia <br> Admin</h5>
            <a class="text-decoration-none text-light fw-bolder mb-4" routerLink="/admin"><i class="fa-solid fa-chart-simple"></i> Dashboard</a>
            <a class="text-decoration-none text-light fw-bolder mb-4" routerLink="/admin/recipe-list"><i class="fa-solid fa-bowl-food"></i> Recipes </a>
            <a class="text-decoration-none text-light fw-bolder mb-4" routerLink="/admin/users"><i class="fa-solid fa-users"></i> Users</a>
            <a class="text-decoration-none text-light fw-bolder mb-4" routerLink="/admin/download-list"><i class="fa-solid fa-download"></i> Downloads</a>
            <a class="text-decoration-none text-light fw-bolder" routerLink="/admin/request"><i class="fa-solid fa-message"></i> Requests</a>
            <button class="btn text-light fw-bolder mt-auto">Logout <i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
        <div class="col">
            <h1>welcome admin</h1>
        </div>
    </div>
</div>